

article, section, div, span, 
h1, h2, h3, h4, h5, 
table, tr, td, th, 
a, img, video, audio, 
input, select, ol, ul,
body {
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
}


.none {
  display: none;
}





